.card {
    background-color: white;

    /* Set the color stripe to the top */
    display: flex;
    flex-direction: column;

    border: 2px solid var(--font-color);

    /* Create staggered border */
    box-shadow: -5px 5px 0px -1.5px var(--main-color), -5px 5px var(--font-color);
    
    transition: transform 200ms ease-in-out;
}

.card>* {
    margin-top: 0px;
    margin-bottom: 0px;
}

.info {
    flex: 1;
}

.skillInfo, .timeInfo {
    height: min(4vw, 40px);

    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 95%;
}

.skillInfo, .timeInfo h1 {
    font-family: 'Courier Prime', Courier, monospace;
    font-weight: 100;
    font-size: 1em;
}

.skillInfo {
    border: 1px var(--font-color);
    border-style: dashed none dashed none;

    display: flex;
    align-items: center;
}

.timeInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card:hover {
    /* Enlarges the boxes */
    transform: scale(1.05);

    /* Shades in box shadow */
    box-shadow: -5px 5px var(--font-color);
}

.top {
    /* Vertically centers text */
    display: flex;
    align-items: center;

    /* Sets stripe dimensions */
    width: 100%;
    height: min(4vw, 40px);
}

.top h1 {
    /* Aligns text horizontally */
    padding-left: 10px;

    /* Styles text */
    font-family: 'Courier Prime', Courier, monospace;
    font-size: 1em;
    color: white;
}

.card p {
    padding: 10px;
}

#image {
    /* Sets image dimensions */
    height: 85%;
    width: 89%;
    margin: 5% 5% 6%;

    /* Sets image to entire element */
    background-image: url('../../../assets/Tyrece.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    /* Styles borders */
    border: 2px solid var(--font-color);
    border-radius: 2px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}