#projectLink {
    margin-top: 35px;
}

#projects {
    /* Grid dimensions */
    height: 250vh;
    width: 60vw;
    margin: 0px 20%;
}

#projects > div {
    height: calc(100% / 6);
    width: 100%;

    display: flex;
    justify-content: flex-end;
}

#projects > div:nth-child(even) {
    flex-direction: row-reverse;
}

#projects .card {
    height: 100%;
    width: 250px;
}

#vote .top {
    background-color: #008b05;
}

#cache .top {
    background-color: #78c0ff;
}

#cmd .top {
    background-color: #10162F;
}

#proxy .top {
    background-color: #ffa14f;
}

#flag .top {
    background-color: #ff3232;
}

#web .top {
    background-color: rgb(255, 70, 252);
}

@media only screen and (max-width: 1150px) {
    #projects {
        width: 90vw;
        margin: 0px 5%;
    }
}