#landing {
    /* animation: transitionIn 3s; */
}

/* Page load tranition */
@keyframes transitionIn {
    from {
        height: 20vh;
        width: 25vw;
        transform: translateY(300%);
        margin: 20vh auto 0px auto;
    }

    70% {
        height: 20vh;
        width: 25vw;
        margin: 20vh auto 0px auto;
    }

    to {
        height: 75vh;
        width: 80vw;
        margin: 0px auto auto auto;
    }
}

/* Set stripe colors */
#image-border .top {
    background-color: var(--light-blue-card);
}

#about .top {
    background-color: var(--dark-blue-card);
}

#mission .top {
    background-color: var(--orange-card);
}

#skill .top {
    background-color: var(--red-card);
}

/* Set box positions and dimensions */
#image-border {
    grid-area: 1 / 1 / span 3 / span 2;
}

#about {
    grid-area: 1 / 3 / span 2 / span 4;
}

#mission {
    grid-area: 3 / 4 / span 2 / span 2;
}

#skill {
    grid-area: 2 / 7 / span 3 / span 2;
}

@media only screen and (max-width: 1150px) {
    #image-border {
        grid-area: 1 / 1 / span 4 / span 3;
    }

    #about {
        grid-area: 1 / 4 / span 2 / span 5;
    }

    #mission {
        grid-area: 3 / 4 / span 2 / span 2;
    }

    #skill {
        grid-area: 3 / 6 / span 2 / span 3;
    }
}

@media only screen and (max-width: 750px) {
    #personal {
        display: none;
    }
}